.navbar {
    background-color: #f1f1f1;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* CSS for Footer */

.footer {
    background-color: #ebe9e9;
    color: #000000;
    padding: 1px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-logo img {
    width: 200px;
    max-height: 200px;
}

.footer-info {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.footer-info p {
    margin: 0 10px;
}

.footer-bottom {
    margin-top: 10px;
    text-align: center;
}